<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style.css">
    <title>Scrape from Shoppe</title>
</head>
<body>
    <header>
        <h1>Hi, I am Mostafa Elsouifi</h1>
    </header>
    <main>
        <div class="container-result">
            <% if(result){ %>
            <table>
                <tr>
                    <td>Product Name</td>
                    <td>Price</td>
                    <td>Image</td>
                </tr> 
                <% for(let product of result) { %>
                    <tr>
                        <td><%= product.productName.slice(0,60) %></td>
                        <td><%= product.price %></td>
                        <td><img src="<%= product.image %>"></td>
                    </tr> 
                <%}%>
            </table>
           <% }else{ %>
            <h2>No data found</h2>
            <%} %>
        </div>
    </main>
    <footer>
        <div>Mostafa Elsouifi &copy; 2021</div>
    </footer>

   
</body>
</html>